
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg");
    background-size: cover;
  }

/* .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  } */

.dev {
    color: white !important;
} 

div {
    border-block: black;
}


